
.grafico{
   margin-top: 20vw;
}

.textGrafico{
    border-style: double;
    border-color: black;
    margin-top: 10vw;
    border-radius: 5vw;
    text-align: center;
    font-size: 5vw;
    font-style: italic;
    border-width: thin;

}

