ion-toolbar{
    text-align: center;
    font-weight: bold;
    color: cornsilk;
    font-size: 5vw;
}

.form{
    margin-top: 20vw;
    height: 0vw;
}

ion-label{
    font-size: 5vw;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: 400;
}

.icone{
    color: red;
}

.centroo{
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: thin;
}

.corFundob{
    background-image: url(../assets/imgs/fundoHome.jpg);
}


