.bodyy{
    background-color: #E0DAD8;
     background-repeat: no-repeat;
    background-size: 150vw;
}

.cardsGanheii {
    border-radius: 4vw;
    background-color: rgb(195, 255, 193);
    height: 40vw;
    border-style: solid;
    border-color:green;
    border-width: thin;
       
}

.centrooo {
    margin-top: 4vw;
    max-height: 71vmax;
    overflow: scroll;
    
}

.precoGanho {
    padding: 2vw;
    margin-top: 1vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-style: solid;
    border-color: #32db64;
    border-radius: 5vw;
    
  }