<ion-toolbar ion-toolbar color="secondary" icon-start>
  <ion-icon name="md-trending-up"></ion-icon>
  GANHEI
</ion-toolbar>

<ion-content padding class="corFundo" >

  <form class="form" [formGroup]="form" (submit)="submitForm()" >
    <div class="centroo">
      <ion-item>
        <ion-label floating color="dark">
          Descrição..
        </ion-label>
        <ion-input type="text" formControlName="descricaoG"></ion-input>
      </ion-item>
      <small *ngIf="descricaoG.hasError('required')&& descricaoG.touched" ion-text color="danger">
        *Campo Descrição é Obrigatório!
      </small>
      <small *ngIf="descricaoG.hasError('maxlength')" ion-text color="danger">
        *Campo Descrição com Máximo de 20 caracteres!
      </small>

      <ion-item>
        <ion-label floating color="dark">
          Preço..
        </ion-label>
        <ion-input type="text" formControlName="precoG"></ion-input>
      </ion-item>
      <small *ngIf="precoG.hasError('required')&& precoG.touched" ion-text color="danger">
        *Campo Preço é Obrigatório!
      </small>
      <small *ngIf="precoG.hasError('maxlength')" ion-text color="danger">
        *Campo Preço com Máximo de 8 Digitos!
      </small>

      <ion-item>
        <ion-label floating color="dark">
          Data..
        </ion-label>
        <ion-input mask="00/00/0000" type="string" formControlName="dataG"></ion-input>
      </ion-item>
      <small *ngIf="dataG.hasError('required')&& dataG.touched" ion-text color="danger">
        *Campo Data é Obrigatório!
      </small>
      <small *ngIf="dataG.hasError('minlength')" ion-text color="danger">
        *Campo Data com Mínimo de 6 Digitos!
      </small>

      <ion-item>
        <ion-label floating color="dark">
          Categoria..
        </ion-label>
        <ion-input type="text" formControlName="categoriaG"></ion-input>
      </ion-item>
      <small *ngIf="categoriaG.hasError('maxlength')&& categoriaG.touched" ion-text color="danger">
        *Campo Categoria com Máximo de 20 caracteres!
      </small>
    </div>

    <ion-footer>
      <button ion-button large full color="secondary" icon-start type="submit">
        <ion-icon name="md-checkmark"></ion-icon>
        Salvar
      </button>

      <button ion-button type="button" large full color="light" icon-start (click)="fechar()">
        <ion-icon class="icone" name="md-close-circle"></ion-icon>
      </button>
    </ion-footer>

  </form>

</ion-content>